<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>testSession</servlet-name>
        <servlet-class>DoveCiboPK.testSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSession</servlet-name>
        <servlet-class>DoveCiboPK.TestSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitProfio</servlet-name>
        <servlet-class>DoveCiboPK.ExitProfio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfiloUtente</servlet-name>
        <servlet-class>DoveCiboPK.ProfiloUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdate</servlet-name>
        <servlet-class>DoveCiboPK.UserUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMain</servlet-name>
        <servlet-class>DoveCiboPK.NewMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetTuttiRistoranti</servlet-name>
        <servlet-class>DoveCiboPK.ServletGetTuttiRistoranti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail_Modifica_Profilo</servlet-name>
        <servlet-class>DoveCiboPK.SendEmail_Modifica_Profilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail_Recupero_credenziali</servlet-name>
        <servlet-class>DoveCiboPK.SendEmail_Recupero_credenziali</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecuperoCredenziali</servlet-name>
        <servlet-class>DoveCiboPK.ServletRecuperoCredenziali</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaRistoranti</servlet-name>
        <servlet-class>DoveCiboPK.VisualizzaRistoranti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaRistorantiUtente2</servlet-name>
        <servlet-class>DoveCiboPK.VisualizzaRistorantiUtente2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CercaRistorantiHome</servlet-name>
        <servlet-class>DoveCiboPK.CercaRistorantiHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificaRistorante</servlet-name>
        <servlet-class>DoveCiboPK.ServletModificaRistorante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_GestioneUser</servlet-name>
        <servlet-class>database.DB_GestioneUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_RestaurantOwner</servlet-name>
        <servlet-class>database.DB_RestaurantOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_RestaurantPhoto</servlet-name>
        <servlet-class>database.DB_RestaurantPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_GestioneRestaurant</servlet-name>
        <servlet-class>database.DB_GestioneRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_Notifiche</servlet-name>
        <servlet-class>database.DB_Notifiche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_Notifica</servlet-name>
        <servlet-class>database.DB_Notifica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_Reviews</servlet-name>
        <servlet-class>database.DB_Reviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_Replies</servlet-name>
        <servlet-class>database.DB_Replies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_OrariRestaurant</servlet-name>
        <servlet-class>database.DB_OrariRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_CuisineRestaurant</servlet-name>
        <servlet-class>database.DB_CuisineRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_PriceRestaurant</servlet-name>
        <servlet-class>database.DB_PriceRestaurant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testSession</servlet-name>
        <url-pattern>/testSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSession</servlet-name>
        <url-pattern>/TestSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitProfio</servlet-name>
        <url-pattern>/ExitProfio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfiloUtente</servlet-name>
        <url-pattern>/ProfiloUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdate</servlet-name>
        <url-pattern>/UserUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMain</servlet-name>
        <url-pattern>/NewMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetTuttiRistoranti</servlet-name>
        <url-pattern>/ServletGetTuttiRistoranti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail_Modifica_Profilo</servlet-name>
        <url-pattern>/SendEmail_Modifica_Profilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail_Recupero_credenziali</servlet-name>
        <url-pattern>/SendEmail_Recupero_credenziali</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecuperoCredenziali</servlet-name>
        <url-pattern>/ServletRecuperoCredenziali</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaRistoranti</servlet-name>
        <url-pattern>/VisualizzaRistoranti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaRistorantiUtente2</servlet-name>
        <url-pattern>/VisualizzaRistorantiUtente2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CercaRistorantiHome</servlet-name>
        <url-pattern>/CercaRistorantiHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificaRistorante</servlet-name>
        <url-pattern>/ServletModificaRistorante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_GestioneUser</servlet-name>
        <url-pattern>/DB_GestioneUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_RestaurantOwner</servlet-name>
        <url-pattern>/DB_RestaurantOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_RestaurantPhoto</servlet-name>
        <url-pattern>/DB_RestaurantPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_GestioneRestaurant</servlet-name>
        <url-pattern>/DB_GestioneRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_Notifiche</servlet-name>
        <url-pattern>/DB_Notifiche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_Notifica</servlet-name>
        <url-pattern>/DB_Notifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_Reviews</servlet-name>
        <url-pattern>/DB_Reviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_Replies</servlet-name>
        <url-pattern>/DB_Replies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_OrariRestaurant</servlet-name>
        <url-pattern>/DB_OrariRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_CuisineRestaurant</servlet-name>
        <url-pattern>/DB_CuisineRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_PriceRestaurant</servlet-name>
        <url-pattern>/DB_PriceRestaurant</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
