<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>testSession</servlet-name>
        <servlet-class>DoveCiboPK.testSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSession</servlet-name>
        <servlet-class>DoveCiboPK.TestSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRistorante_custom</servlet-name>
        <servlet-class>DoveCiboPK.ServletRistorante_custom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testSession</servlet-name>
        <url-pattern>/testSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSession</servlet-name>
        <url-pattern>/TestSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRistorante_custom</servlet-name>
        <url-pattern>/ServletRistorante_custom</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
