/* 
    Author     : Giacomo Barbieri
*/

body {
    background-image: url("/DoveCiboGit/Sfondi/sfondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

#map {
    height: 400px;
    width: 100%;
    margin: 0 auto 0 auto;
}

#cont{
    height:75px;
    width:150px;
    position:relative;
}

#immagine{    
    position:absolute;
    left:0;
    top:0;
    height:75px;
    width:150px;
}

#testo{
    z-index:20;
    position:absolute;    
    color:white;
    font-size:20px;
    font-weight:bold;
    text-shadow: 0px 0px 8px #000,0px 0px 12px #000, 0px 0px 16px #000;
    left:10px;
    top:5px;
}