/* 
    Author     : Giacomo Barbieri
*/

.btn-like {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-like:focus, .btn-like:active:focus, .btn-like.active:focus {
    outline: 0 none;
}

.btn-default {
    background: rgba(255, 255, 255, 0);
    color: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #0099ff;
    background-color: rgba(255, 255, 255, 0);
}

.btn-default:active, .btn-default.active {
    background: rgba(255, 255, 255, 0);
    box-shadow: white;
}

#myCarousel img {
    /*min-width: 400px;*/
    max-width: 600px;
    height: auto;
    max-height: 300px;
    margin: auto;
}

body {
    background-image: url("/DoveCiboGit/Sfondi/img (7)b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.colonna2{
    background-color: rgba(255, 255, 255, 0.80);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}