/* 
    Author     : Giacomo Barbieri
*/

body {
    background-image: url("/DoveCiboGit/Sfondi/img (7)b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}